body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}

@media only screen and (min-width: 1200px) {
    body {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgb(95, 95, 98) 0%, rgba(255, 255, 255, 1) 30%, rgba(240, 240, 240, 1) 70%, rgb(95, 95, 98) 100%);
    }
}

@media only screen and (max-width: 1200px) {

    body {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background: rgba(230, 230, 230, 1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    width: 100%;
}

h1 {
    font-variant: small-caps;
}

h2 {
    padding: 0.3rem 0.6rem;
}


h3 {
    font-style: italic;
    padding: 0.3rem 1.2rem;

}

h3::before {
    content: "👉 ";
}